<h1>Utente</h1>


<table fd-table>
  <thead fd-table-header>
  <tr fd-table-row>
    <th fd-table-cell>Nome</th>
    <th fd-table-cell>Cognome</th>
    <th fd-table-cell>Email</th>
    <th fd-table-cell>Numero</th>
    <th fd-table-cell>Azioni</th>
    <th fd-table-cell></th>
  </tr>
  </thead>
  <tbody fd-table-body>


  <td fd-table-cell>test</td>
  <td fd-table-cell>prova</td>
  <td fd-table-cell>prova</td>
  <td fd-table-cell>prova</td>
  <td fd-table-cell>
    <a fd-link href="/new-utenti">Modifica</a>
  </td>
  <td fd-table-cell>
    <a fd-link href="#">elimina</a>
  </td>


  </tbody>
</table>







