<div fd-form-item class="fd-custom-form-item-message">
  <label fd-form-label for="input-message">
    Nuovo Utente
  </label>
  <fd-form-input-message-group>
    <input fd-form-control type="text" id="input-message" placeholder="Nome" />
    <input fd-form-control type="text" id="input-message" placeholder="Cognome" />
    <input fd-form-control type="text" id="input-message" placeholder="Email" />
    <input fd-form-control type="text" id="input-message" placeholder="Telefono" />

  </fd-form-input-message-group>
  <button fd-button label="Invia"></button>
</div>

